[% set package = {
  "name": project_name,
  "version": "0.1.0",
  "description": description,
  "private": true,
  "type": "module",
  "scripts": npm_scripts,
  "devDependencies": npm_dev,
} %]
[% if project_license == "MIT" %]
[% set package = dict(package, license="MIT") %]
[% endif %]
[[ package | to_nice_json(indent=2, ensure_ascii=False, sort_keys=False) ]]
